

.transition {
  max-height: 0px;
  display: none;
}

.active {
  max-height: 100px;
  display: block;

}

.nav {
    min-height: 100vh;
    width: 23%;
    min-width: 300px;
    background-image: linear-gradient(0deg,  rgb(38, 104, 186) 0%, rgb(100, 149, 237) 50%);
}

.desc {
  padding: 100px 0px 50px 70px;
  margin: auto;
}
.desc h2 {
    margin-left: 20%;
    font-family: "굴림", Gulim, Arial, sans-serif;

    display: block;
        font-size: 1.5em;
        margin-top: 0.83em;
        margin-bottom: 0.83em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
}

.menuList{
    padding-left: 30px;
}

.menuItem {
    padding: 15px;
    font-size: 1.0em;
    border-top: 1px solid #2668ba;
}

.menuItem > div:first-child{
    cursor: pointer;
}

.menuItem:last-child{
    border-bottom: 1px solid #2668ba;
}

.menuItem ul {
    margin: 10px;
}
.menuItem li {
    padding: 3px;
}

.menuItem a{
    text-decoration: none;
    color: black;
}

.circle{
    width: 150px;
    height: 150px;
    background-color: #2668ba;

    margin-left: -15px;
    margin-bottom: 30px;
    border-radius: 50%;
}