.post {
  border: 5px solid #f8bbd0;
  margin: 50px;
  min-width: 70%;
  max-width: 70%;
  padding: 80px;
  word-break: break-all;
}

.postTitle > h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.postBody {
  padding-top: 30px;
  line-height: 2;
  padding-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.reference {
  padding-top: 30px;
}

.reference h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.reference div {
  padding-left: 10px;
}

@media screen and (max-width: 600px) {
  .post {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    min-width: 95%;
    max-width: 95%;
    font: 0.8em;
    border: 3px solid #f8bbd0;

    box-sizing: border-box;

    padding: 10px;
  }
}
